In [1]:
import pandas as pd
import os
import numpy as np
import yaml

In [2]:
def prepare_dataset(tar_list):
    df_blank = pd.DataFrame({'smiles':[]})
    for dataset in tar_list:
        df0 = pd.read_csv(os.path.join(DATASET_PATH, dataset))
        df_blank =  pd.merge(df_blank, df0, on=SMILES_COLUMN, how='outer')
    return df_blank

# LogP + ESOL

In [3]:
DATASET_PATH = '../data/3_final_data'
DATASET_OUTPUT_PATH = '../data/raw/baselines/dmpnn'
SMILES_COLUMN = 'smiles'
VALUE_COLUMNS = ['logP','logS']
DATASET_NAMES = ['logp_wo_averaging.csv', 'esol.csv']

In [6]:
dataset = prepare_dataset(DATASET_NAMES)
dataset.to_csv(os.path.join(DATASET_OUTPUT_PATH, 'logp_esol_wo_averaging.csv'))

In [7]:
dataset.shape

(14043, 3)

In [8]:
dataset_logP = pd.read_csv(os.path.join(DATASET_PATH, DATASET_NAMES[0]))
dataset_logS = pd.read_csv(os.path.join(DATASET_PATH, DATASET_NAMES[1]))

In [10]:
dataset_logP[dataset_logP[SMILES_COLUMN].isin(dataset_logS[SMILES_COLUMN])]

                       smiles  logP
0               BrC(Br)(Br)Br  3.42
15       Brc1cc(Br)c(Br)cc1Br  5.13
19         Brc1cc(Br)cc(Br)c1  4.51
26             Brc1ccc(Br)cc1  3.79
34             Brc1cccc(Br)c1  3.75
...                       ...   ...
13738                 c1ccoc1  1.34
13739                 c1ccsc1  1.81
13747  c1cnc2c(c1)ccc1ncccc12  2.51
13750          c1cnc2ncncc2n1 -0.58
13759                c1cncnc1 -0.40

[792 rows x 2 columns]